<div class="top-hero-wrapper text-center">
    <div class="container top-hero-container">
        <h1 class="text-black">welcome to ORTmit</h1>
        <div class="row">
           <div class="col-md-offset-3 col-md-3">
                <%= link_to 'ログイン',  login_path, class: 'btn btn-block btn-black' %>
            </div>
        </div>
    </div>
</div>
