

<h1>Heelo</h1>
 <h2>Welcome!ORTmit</h2>

 <div class="main">
   <div class="container">
     <div class="main-card-wrapper">
        <div class="main-card">
          <%= link_to questions_path do %>
           <%= image_tag "conversation.png" %>
          <% end %>
        </div>
        <div class="main-card">
          <%= link_to topics_path do %>
           <%= image_tag "b.presentation.png" %>
          <% end %>
        </div>
     </div>
   </div>
 </div>