<div class="topic-index-wrapper">
  <div class="container">
    <% @memory_topics.each do |memory| %>
     <div class="row">
       <div class="col-md-6 col-md-offset-3">
         <div class="topic-index-single">
           <h2 class="topic-author">
             <%= memory.user.name %>
           </h2>
           <%= image_tag memory.topic.image.url %>
           <%= image_tag 'b.memory.png', class:'topic-index-icon' %>
           <p class="topic-text">
              <%= memory.topic.description %>
             </p>
         </div>
       </div> 
     </div>
    <% end %> 
  </div>
</div>