h1, h2 {
    font-weight: 100;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.text-white {
    color: ff6347;
} 

.btn-white {
    color: ff6347;
    border: 1px solid #ff6347;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: white;

  &:hover {
     color: #ff6347;
  }
}

.top-hero-container {
    padding-top: 220px;
    h1 {
        font-size: 56px;
        margin-bottom: 20px;
    }
    
    h2 {
        margin-bottom: 60px;
    }
}

.form-control {
    height: 45px;
}

.users-new-wrapper {
    width: 100vw;
    height: 100vh;
    
   .users-new-container {
       padding-top: 220px;
       
       .form-group {
           margin-bottom: 20px;
       }
   }
}

.alert {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.navbar-transparent {
    margin-bottom: 0px;
    background-color: rgbe(0,0,0,0.5);
 a {
     color: #fff !important;
 }
 
 .navbar-brand {
     padding: 0px;
     margin-top: 15px;
 }
 
 img {
   height: 40px;
 }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.main {
    padding: 90px 0 60px;
}

.main-card {
    width: 50%;
    margin-top: 20px;
}

.main-card-wrapper {
    display: flex;
    flex-wrap: wrap;
}
